
{% extends "blog_single_generic.htm" %}

{% block content %}

<!--About Tab-->
<section id="about" class="bgWhite ofsInBottom active" style="display: block;">
                    						
<!--About -->
<div class="about">


							<!--Main title-->
							
								<div class="main-title">
									<h1>who am i</h1>
									<div class="divider">
											<div class="zigzag large clearfix " data-svg-drawing="yes">
<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
<path d="M1.357,12.26 10.807,2.81 20.328,12.332
	29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path>
</svg>
</div>
									</div>
								</div>	
								
							<!--End main title-->
						
						
							
						
						<!--Content-->	
						<div class="content">
                        
<br>
A/B testing likes (any of the last three posts receives a like)
<table id="example" class="display dataTable" cellspacing="0" width="100%" role = "grid" aria-describedby = "example_info">
        <thead>
            <tr>
                <th>Audience with liked posts</th>
                <th>Audience without liked posts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15.19%</td>
                <td>15.62%</td>
            </tr>
        </tbody>
    </table> 
<br/>
A/B testing stories (if a user has current stories, all of them are marked as watched)
<table id="example" class="display dataTable" cellspacing="0" width="100%" role = "grid" aria-describedby = "example_info">
        <thead>
            <tr>
                <th>Audience with watched stories</th>
                <th>Audience without watching stories</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>25.38%</td>
                <td>18.28%</td>
            </tr>
        </tbody>
    </table> 



</div>
</div>
</div>    

{% endblock %}