bs4==0.0.1
cfscrape==1.9.0
chardet==2.3.0
command-not-found==0.3
configparser==3.5.0
cycler==0.10.0
daemon==1.1
decorator==4.2.1
Django==2.0.2
django-filter==1.1.0
django-material==1.2.2
-e git://github.com/theatlantic/django-mysqlndb-backend.git@15403abcf18f264a1945b4f2fb684d15e0fdc82c#egg=django_mysqlndb_backend
django-transaction-hooks==0.2
django-viewflow==1.2.0
docutils==0.13.1
GDAL==2.2.2
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
langdetect==1.0.7
language-selector==0.1
lockfile==0.12.2
matplotlib==2.0.2
mysqlclient==1.3.12
Naked==0.1.31
nbformat==4.4.0
nltk==3.2.5
numpy==1.22.0
olefile==0.44
opencv-python==3.3.0.10
pandas==0.21.0
patsy==0.5.0
Pillow==4.3.0
plotly==2.3.0
psycopg2==2.7.4
py4j==0.10.4
pycurl==7.43.0
PyExecJS==1.4.1
pygobject==3.20.0
PyMySQL==0.7.11
pyparsing==2.2.0
pyspark==2.2.1
pytesseract==0.1.7
python-apt==1.1.0b1
python-daemon==2.1.2
python-dateutil==2.6.0
python-debian==0.1.27
python-systemd==231
pytz==2017.2
PyYAML==3.12
requests==2.9.1
reverse-geocoder==1.5.1
scikit-learn==0.19.1
scipy==1.0.1
seaborn==0.8.1
selenium==3.6.0
six==1.10.0
ssh-import-id==5.5
statsmodels==0.8.0
stop-words==2015.2.23.1
traitlets==4.3.2
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
whitenoise==3.3.1
